 @import url(//fonts.googleapis.com/css2?family=Inter:wght@600&display=swap);

:root {
	--white: #ffffff;
	--light-gray: #D6D6D6;
	--gray: #737373;
	--dark-gray: #34302F;
	--black: #141414;
}
html {
	font-size: 62.5%;
}
body {
	background-color: var(--white);
	font-family: 'Inter';
	margin: 0;
	padding: 0;
}
/* main {
	width: 900px;
	max-width: calc(100% - 2rem);
	margin: auto;
	padding: 20px;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--black);
	line-height: 1.2;
	text-align: center;
	margin-block: 0.6rem 1rem;
}
a {
	text-decoration: none;
	color: var(--gray);
	transition-duration: 0.4s;
}
a:hover {
	color: #141414;
	transition-duration: 0.2s;
}
.button {
	padding: 13px 24px;
	margin-top: 10px;
	border-radius: 6px;
	border: 1px solid var(--dark-gray);
	background-color: var(--dark-gray);
	color: var(--white);
}
.light-button {
	background-color: var(--white);
	color: var(--black);
}
p {
	font-size: 1.6rem;
	margin-block: 20px;
	line-height: 1.6;
	text-align: justify;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
ul {
	list-style: none;
}
hr {
	border: none;
	border-top: 1px solid var(--light-gray);
}

@media (max-width: 720px) {
	body {
		padding: 0 !important;
	}
	main {
		padding: 2px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
