/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap'); */

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}


:root {
	--white: #ffffff;
	--light-gray: #D6D6D6;
	--gray: #737373;
	--medium-gray: #676666;
	--darker-gray: #525252;
	--dark-gray: #34302F;
	--black: #141414;
	--box-shadow-gray: 96, 115, 159;
	--box-shadow: 0 2px 6px rgba(var(--box-shadow-gray), 25%), 0 8px 24px rgba(var(--box-shadow-gray), 33%),
		0 16px 32px rgba(var(--box-shadow-gray), 33%);
}
html {
	font-size: 62.5%;
}
body {
	background-color: var(--white);
	font-family: "Inter";
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	margin-block: 0.6rem 1rem;
	font-weight: 500;
	line-height: 1.3;
}
h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 2.4rem;
}
a {
	text-decoration: none;
	color: var(--gray);
	transition-duration: 0.8s;
}
a:hover {
	color: #141414;
	transition-duration: 0.2s;
}
ul a:hover img {
	box-shadow: var(--box-shadow);
}
.button:hover{
	background-color: var(--darker-gray);
	color: var(--white);
}
.button {
	font-size: 1.2rem;
	padding: 13px 24px;
	margin-top: 10px;
	border-radius: 6px;
	background-color: var(--dark-gray);
	color: var(--white);
}
.light-button {
	background-color: var(--white);
	border: 1px solid var(--darker-gray);
	color: var(--black);
}
p {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	word-spacing: 0.14em;
	letter-spacing: 0.01em;
	text-align: justify;
}
li {
	word-spacing: 0.14em;
	line-height: 1.5;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
hr {
	border: none;
	border-top: 1px solid var(--light-gray);
}

@media (min-width: 700px) {
	.button {
	font-size: 1.4rem;
}
}


.highlight-list {
	font-size: 1.6rem;
	list-style: none;
	padding-inline-start: 0;
	margin-block: 2em;
	line-height: 1.5;
    word-spacing: 0.14em;
    letter-spacing: 0.01em;
    text-align: justify;
}
.highlight-list > li {
	margin-block: 1em;
	background-color: var(--light-gray);
	border-radius: 6px;
	padding: 1em;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
