---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="hero">
			<h1>STOP KOLCOM</h1>
			<p>Pierwszy krok w naszej walce o zakaz kolców zrobiony. Przedstawiam Wam logo tej kampanii. Podziękujcie gorąco Aneta Sobaniec - która jest autorką loga i zrobiła je pro bono!
			Kolejne kroki w kampanii:
			Strona internetowa
			Profile w mediach społecznościowych
			Propagowanie idei
			Osoby chętne do pomocy proszę o kontakt. Każdy z nas ma swoje obowiązki i jest już w jakimś stopniu zaangażowany w pomoc gołębiom, więc proszę aby zgłaszały się tylko osoby, które dysponują chwilą wolnego czasu. Potrzebna będzie pomocy przy:
			opracowaniu tekstów (myślę, że tu ja ogarnę większość)
			stworzeniu strony internetowej
			grafik na stronę
			bieżącej obsługi mediów społecznościowych (potrzebna osoba/osoby zwłaszcza do Instagrama i TikToka bo ja tych nie ogarniam)
			Każdy kto ma jakiś pomysł na działanie, akcje itd, też może się zgłaszać. W najbliższym czasie założę profil na fb i grupę dla osób które będą stale działać przy kampanii.</p>
			<p>Pierwszy krok w naszej walce o zakaz kolców zrobiony. Przedstawiam Wam logo tej kampanii. Podziękujcie gorąco Aneta Sobaniec - która jest autorką loga i zrobiła je pro bono!
				Kolejne kroki w kampanii:
				Strona internetowa
				Profile w mediach społecznościowych
				Propagowanie idei
				Osoby chętne do pomocy proszę o kontakt. Każdy z nas ma swoje obowiązki i jest już w jakimś stopniu zaangażowany w pomoc gołębiom, więc proszę aby zgłaszały się tylko osoby, które dysponują chwilą wolnego czasu. Potrzebna będzie pomocy przy:
				opracowaniu tekstów (myślę, że tu ja ogarnę większość)
				stworzeniu strony internetowej
				grafik na stronę
				bieżącej obsługi mediów społecznościowych (potrzebna osoba/osoby zwłaszcza do Instagrama i TikToka bo ja tych nie ogarniam)
				Każdy kto ma jakiś pomysł na działanie, akcje itd, też może się zgłaszać. W najbliższym czasie założę profil na fb i grupę dla osób które będą stale działać przy kampanii.</p>
			</div>
		<Footer />
	</body>
</html>
<style>
	.hero {
		color: white;
		background-image: url("/background-bw.png");
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
		padding: 80px 15rem;
	}
	@media  (max-width: 1200px) {
		.hero {
			padding: 40px 2%;
		}
	}
	/* @media  (max-width: 720px) {
		.index-main {
			padding: 40px 5%;
		}
	} */
</style>