---
import Layout from '../layouts/BlankLayout.astro';
---

<Layout
	title="Kontakt"
>
<section class="flex-container">
    <section>
        <h3>Adres do korespondecji</h3>
        <span>Dariusz Grochal</span>
        <span>skrytka pocztowa 18</span>
        <span>Urząd Pocztowy Kraków 60</span>
        <span>os. Na Stoku 1 31-705 Kraków</span>
    </section>

    <section>
        <h3>E-mail</h3>
        <span>zakazkolcow@poczta.fm</span>
    </section>
</section>
</Layout>

<style>
    .flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    h3 {
        text-align: left;
    }
    section {
        margin-bottom: 3em;
    }
    span {
        display: block;
    }
</style>