---
import Layout from '../layouts/BlankLayout.astro';
---

<Layout
	title="Patroni medialni"
>

<div class="flex-container">
    <a href="https://chatkagolebia.pl/"><img src="primary-navigation/popierają-nas/chatka-golebia.png" alt="logo Chatki Gołębia"></a>
</div>

</Layout>

<style>
.flex-container {

}
img {
    width: 185px;
}
</style>
