---
import Layout from '../layouts/BlankLayout.astro';
---

<Layout
	title="Wsparcie"
>

<h2>Chcesz wesprzeć naszą walkę o bezpieczeństwo ptaków?</h2>
<ul>
<li>Polub nasze media społecznościowe.</li>
<li>Udostępniaj posty.</li>
<li>Możesz też zakupić pakiet materiałów informacyjnych na temat kolców i życia gołębi miejskich</li>
</ul>

<p>Kampania realizowana jest środków społecznych. Będziemy wdzięczni za każde wsparcie.</p>


</Layout>