---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<a href="/"><img class="logo" src="/logo.png"></a>
		<div class="internal-links">
			<HeaderLink href="/blog">AKTUALNOŚCI</HeaderLink>
			<HeaderLink href="/kampania">KAMPANIA</HeaderLink>
			<!-- <HeaderLink href="/about">PARTNERZY</HeaderLink> -->
			<HeaderLink href="/wsparcie">WSPARCIE</HeaderLink>
			<!-- <HeaderLink href="/about">PODZIĘKOWANIA</HeaderLink> -->
			<HeaderLink href="/kontakt">KONTAKT</HeaderLink>
		</div>
		<a class="button" href="#">Napisz do nas</a>
	</nav>
</header>
<style>
	header {
		padding: 0 20px;
		background-color: white;
	}
	nav {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo {
		width: 58px;
		display: flex;
	}
	.internal-links {
		font-size: 1.6rem;
	}
	.internal-links {
		display: none;
	}
	.internal-links a {
		font-family: 'Inter';
		font-size: 1.6rem;
	}
	.internal-links a.active {
		color: #141414;
		text-decoration: none;
	}
	@media  (min-width: 768px) {
		.internal-links {
		display: flex;
		gap: 40px;
		}
	}
</style>
