---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="logo-div">
			<a href="/"><img class="logo" src="/logo.png"></a>
			<a href="/"><img class="logo-small" src="/logo-black.png"></a>
			<a href="/"><img class="logo-text" src="/logo-text.png"></a>
		</div>
		<div class="internal-links">
			<HeaderLink href="/blog">AKTUALNOŚCI</HeaderLink>
			<HeaderLink href="/kampania">KAMPANIA</HeaderLink>
			<HeaderLink href="/kontakt">KONTAKT</HeaderLink>
		</div>
		<div class="button-div">
			<a class="button" href="mailto:zakazkolcow@poczta.fm">Napisz do nas</a>
		</div>
	</nav>
</header>

<style>
	header {
		padding: 0 20px;
		background-color: white;
	}
	nav {
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo-div, .button-div {
		flex-grow: 1;
   		flex-basis: 0;
	}
	.logo-div{
		display: flex;
		align-items: center;
	}
	.logo {
		width: 58px;
		display: flex;
	}
	.logo-small {
		display: none;
	}
	.logo-text {
		width: 136px;
		border-radius: 0;
		padding: 20px;
	}
	.internal-links {
		font-size: 1.6rem;
	}
	.internal-links a {
		font-family: 'Inter';
		font-size: 1.6rem;
	}
	.internal-links a.active {
		color: #141414;
		text-decoration: none;
	}
	.internal-links {
		display: flex;
		gap: 40px;
	}
	.button-div {
		text-align: right;
	}
	.button {
		display: inline-block;
		margin: 0;
	}

	@media  (max-width: 1000px) {
		.logo {
			display: none;
		}
		.logo-small {
			display: flex;
			width: 56px;
		}
		.logo-text {
			display: none;
		}
	}
	@media  (max-width: 800px) {
		.internal-links {
			display: none;
		}
	}
</style>
